.home-main {
    width: 100%;
    height: 100%;
    padding-top: 12rem;
    padding-bottom: 7rem;
}



.home-page1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

.page1-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity all 2s ease-in-out;
    z-index: 10;
    font-size: 15rem;
    font-weight: 400;
    color: aliceblue;
}

.page1-img{
    /* background-image: url('https://images.unsplash.com/photo-1622126807280-9b5b32b28e77?q=80&w=2060&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-image: url('./img/20240121_190044_0000.png');
    background-size: cover;
    background-position: center;
    transition: filter all 1s ease-in-out;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0px);
}

/* .hover-image img {
    display: block;
    width: 100%; 
    height: 100%; 
  } */

.home-page1:hover .page1-title {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.home-page1:hover .page1-img {
    filter: blur(5px);
}




.home-page2 {
    padding: 5vh 10vw;
    height: 100%;
    width: 100%;
}

.home-page2 h1 {
    font-size: 6rem;
}

.page2-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    gap: 5vw;
}

.page-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.page-left img {
    object-fit: contain;
    width: 70%;
}

.page-left h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.page-left p {
    font-size: 14px;
    font-weight: bold;

}

.page-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    text-align: right;
}

.page-right img {
    width: 70%;
    object-fit: contain;
}

.page-right h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.page-right p {
    font-size: 14px;
    font-weight: bold;
}

/* page3 */

.home-page3 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
}

.page3-contents {
    padding: 4vh 10vw; 
    display: flex;
    flex-direction: column;
    gap: 50vh;
}

.content-upper h1 {
    font-size: 5rem;
}

.page3-contents p {
    font-size: 14px;
    line-height: 3rem;
}

.content-lower {
    
}

.page3-img{
    width: 55%;
    object-fit: contain;
}


/* .page3-img img{
    height: 100%;
    width: 100%;
    
    object-fit: contain;
} */

/* .page3-img {
    background-image: url('https://plus.unsplash.com/premium_photo-1683880731792-39c07ceea617?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
} */

@media screen and (max-width: 768px){
    .home-main{
        padding-top: 10rem;
    }

    .home-page3 {
        flex-direction: column;
        background: transparent;

    }

    .page3-contents {
        gap: 30px;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .page3-img {
        filter: blur( 4px ) ;
        position: absolute;
        z-index: -10;
        width: 100%;
        overflow: hidden;
    }
}