/* This is NAVBAR code */
#logo-box img {
    width: 30%;
    object-fit: contain;
    text-align: center;
  }
  .glossy-black {
    background: linear-gradient(to bottom, #000000, #d1c8c8);
    border-radius: 10px; /* Adjust as needed */
    color: #ffffff; /* Text color, adjust as needed */
    padding: 20px ; /* Adjust as needed */
  }

  #page1nav{
    height:13rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 100%;
    position: absolute;
    overflow: visible;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 30px;
    background: linear-gradient(to right, #000000, #424040);
  }
  
  
  /* nav {
    height: 9rem;
    background: linear-gradient(to bottom, #000000, #2c2b2b);
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 6vh 5vw 5vh 2vw;
  } */
  nav h3{
    display: none;
  }
  
  .navv{
    display: flex;
    align-items: center;
    gap: 3vw;
  }
  
  /* #logo-box{
    max-height: max-content;
    max-width: max-content;
  } */
  #nav-part2 li {
    list-style: none;
    padding: 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.434);
    border-radius: 50px;
    font-weight: 600;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    border: 2px solid #ededed;
  }
  
  #nav-part2 li::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #000000, #7e7979);
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
  }
  
  #nav-part2 li:hover::after {
    bottom: 0;
    border-radius: 0;
  }
  
  #nav-part2 li a {
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 9;
  }
  
  #nav-part2 li:hover a {
    color: #efeae3;
  }
  
  /*----End of Navbar Code----*/