@import url('https://fonts.googleapis.com/css2?family=Inika&family=Josefin+Sans:ital,wght@0,400;0,500;1,300;1,600&family=Jost:wght@100;200;300;400;600;700&family=Poppins:wght@100;300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap'); 
.page{
    margin-left: 10vh;
    background-color: linear-gradient();
    position: absolute;
    width: 90%;
    padding-top: 5%;
    height: 90%;
    h1{
        color: white;
        font-size: 2.8vw;
        padding-left: 5vw;
        padding-top: 5vw;
        font-family: 'Inika', serif;
        min-height: 24vh;
    }
    p{

        color: white;
        font-size: 3rem;
        padding-left: 5vw;
        padding-top: 5vw;
        padding-right: 2vw;
        font-family: 'Italiana', sans-serif;
    }
    
}
.page0{
    width: 100%;
    position: absolute;
    background-color: rgb(18, 18, 18);
    height: 100%;
    padding-bottom: 10.3vh;
}

.openBtn {
    top: 60%;
    left: 42.5%;
    position: absolute;
    z-index: 200;
    padding: 14px 20px;
    border-radius: 10px;

    height: auto;
    font-size: 20px;
    background: linear-gradient(to right, rgba(227, 58, 58, 0.817), rgba(42, 40, 40, 0.699));
    /* background: linear-gradient(to left ,  #da3535 10%, #f36b41fe); */
    color: whitesmoke;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: all 1s ease;
    letter-spacing: 0.2rem;
    /* #FF4B4B, #FF7145 */
}

.openBtn:hover {
    left: 42%;
    font-size: 25px;
}
